@model IEnumerable<GEM.Web.Data.Entities.Workout>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-warning"><span class="glyphicon glyphicon-calendar"></span></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cardio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Back)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cardio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Back)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leg)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
